@import "tailwindcss";
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(45deg, rgb(75, 222, 255) , rgb(196, 255, 77));
}
.main{
width: 100vw;
height: 100vh;
display: flex;
justify-content: space-around;
align-items: center;
}
.firstBigContainer{
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 360px;
    height: 600px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    background: white;
        gap: 20px;
}
.mainInput{
    border: solid rgb(91, 91, 91) 0.5px;
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.qrtitle{
    font-size: 1.4rem;
    font-weight: 700;
}
.addsContainer{
    width: 360px;
    height: 300px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;

    background-color: rgb(48, 52, 55);
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    gap: 20px;
}
.inputContainer{
    display: flex;
    flex-direction: column;
}
.pointer{
    cursor: pointer;
}
.btnsContainer{
    display: flex;
    justify-content: space-between   ;
}
button{
    color: rgb(255, 255, 255);
    width: 150px;
    height: 60px;
    background: #5200b4;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.secondBigContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-around;
    
}
.secondContainer{
    display: flex;
    width: 400px;
    height: 240px;
}
.paraContainer{
    width: 240px;
    gap: 32px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imgContainer{
    background: #0c0032;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputLine{
    border-bottom: 1px solid black;
}
.thirdContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    width: 400px;
    height: 240px;
        background: #0c0032;
}
.thirdContainerAdds{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.thirdContainerAdds input{

    display: none;
}
.inputImgTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 200px;
    height: 60px;
    background: #5200b4;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
#imgChanger{
    width: 120px;
    height: 120px;
}
.imgInputContainer{
    width: 120px;
    height: 120px;
    overflow: hidden;
}
.inputImg{
    width: 60px;
    height: 60px;
}
.imageUserInput{
        width: 120px;
    height: 120px;
}